<!DOCTYPE html>
<html>
  <head>
    <title>Blogio</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'https://cdnjs.cloudflare.com/ajax/libs/hack/0.8.1/hack.css' %>
<%= stylesheet_link_tag 'https://cdnjs.cloudflare.com/ajax/libs/hack/0.8.1/standard.css' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
